# Installation of Libraries

In [102]:
pip install pandas numpy phonenumbers sqlalchemy

Requirement already satisfied: pandas in c:\users\pranjal.narvekar\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy in c:\users\pranjal.narvekar\appdata\local\programs\python\python313\lib\site-packages (2.4.0)
Requirement already satisfied: phonenumbers in c:\users\pranjal.narvekar\appdata\local\programs\python\python313\lib\site-packages (9.0.21)
Requirement already satisfied: sqlalchemy in c:\users\pranjal.narvekar\appdata\local\programs\python\python313\lib\site-packages (2.0.45)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pranjal.narvekar\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pranjal.narvekar\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pranjal.narvekar\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: greenlet>=1 in c:\users\pranjal.narvekar\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\pranjal.narvekar\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in c:\users\pranjal.narvekar\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [30]:
# importing Necessary packages/libraries.

import pandas as pd
import numpy as np
import phonenumbers as ph
import sqlalchemy as sa

# Reading the file data

In [103]:
df= pd.read_csv('customers_raw.csv')

# Overview of columns and data types
df.info()
df.describe()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        26 non-null     object
 1   first_name         26 non-null     object
 2   last_name          26 non-null     object
 3   email              21 non-null     object
 4   phone              26 non-null     object
 5   city               26 non-null     object
 6   registration_date  26 non-null     object
dtypes: object(7)
memory usage: 1.6+ KB

,customer_id,first_name,last_name,email,phone,city,registration_date
0,C001,Rahul,Sharma,rahul.sharma@gmail.com,9876543210,Bangalore,2023-01-15
1,C002,Priya,Patel,priya.patel@yahoo.com,+91-9988776655,Mumbai,2023-02-20
2,C003,Amit,Kumar,NaN,9765432109,Delhi,2023-03-10
3,C004,Sneha,Reddy,sneha.reddy@gmail.com,9123456789,Hyderabad,15/04/2023
4,C005,Vikram,Singh,vikram.singh@outlook.com,09988112233,Chennai,2023-05-22
5,C006,Anjali,Mehta,anjali.mehta@gmail.com,9876543210,Bangalore,2023-06-18
6,C007,Ravi,Verma,NaN,+919876501234,Pune,2023-07-25
7,C008,Pooja,Iyer,pooja.iyer@gmail.com,9123456780,Bangalore,08-15-2023
8,C009,Karthik,Nair,karthik.nair@yahoo.com,9988776644,Kochi,2023-09-30
9,C010,Deepa,Gupta,deepa.gupta@gmail.com,09871234567,Delhi,2023-10-12
10,C001,Rahul,Sharma,rahul.sharma@gmail.com,9876543210,Bangalore,2023-01-15
11,C011,Arjun,Rao,arjun.rao@gmail.com,9876509876,Hyderabad,2023-11-05
12,C012,Lakshmi,Krishnan,NaN,9988001122,Chennai,2023-12-01
13,C013,Suresh,Patel,suresh.patel@outlook.com,9123409876,Mumbai,2024-01-08
14,C014,Neha,Shah,neha.shah@gmail.com,+91-9876543221,Ahmedabad,2024-01-15
15,C015,Manish,Joshi,manish.joshi@yahoo.com,9988776611,Jaipur,20/01/2024
16,C016,Divya,Menon,divya.menon@gmail.com,9123456701,Bangalore,2024-02-05
17,C017,Rajesh,Kumar,rajesh.kumar@gmail.com,09876123450,Delhi,2024-02-12
18,C018,Kavya,Reddy,NaN,9988112200,Hyderabad,2024-02-18
19,C019,Arun,Pillai,arun.pillai@outlook.com,9876543298,Kochi,02-25-2024
20,C020,Swati,Desai,swati.desai@gmail.com,9123456712,Pune,2024-03-01
21,C021,Nikhil,Bose,nikhil.bose@gmail.com,+919988776600,Kolkata,2024-03-10
22,C022,Priyanka,Jain,priyanka.jain@yahoo.com,9876543287,Indore,2024-03-15
23,C023,Rohit,Kapoor,NaN,9988112211,Chandigarh,2024-03-20
24,C024,Meera,Nambiar,meera.nambiar@gmail.com,9123456723,Trivandrum,03-25-2024
25,C025,Sanjay,Agarwal,sanjay.agarwal@gmail.com,09876543276,Lucknow,2024-03-28

In [104]:
df1= pd.read_csv('products_raw.csv')

# Overview of columns and data types
df1.info()
df1.describe()
df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      20 non-null     object
 1   product_name    20 non-null     object
 2   category        20 non-null     object
 3   price           17 non-null     float64
 4   stock_quantity  19 non-null     float64
dtypes: float64(2), object(3)
memory usage: 932.0+ bytes

   product_id         product_name     category    price  stock_quantity
0        P001   Samsung Galaxy S21  Electronics  45999.0           150.0
1        P002   Nike Running Shoes      fashion   3499.0            80.0
2        P003    Apple MacBook Pro  ELECTRONICS      NaN            45.0
3        P004         Levi's Jeans      Fashion   2999.0           120.0
4        P005      Sony Headphones  electronics   1999.0           200.0
5        P006      Organic Almonds    Groceries    899.0             NaN
6        P007            HP Laptop  Electronics  52999.0            60.0
7        P008       Adidas T-Shirt      FASHION   1299.0           150.0
8        P009     Basmati Rice 5kg    groceries    650.0           300.0
9        P010         OnePlus Nord  Electronics      NaN            95.0
10       P011        Puma Sneakers      Fashion   4599.0            70.0
11       P012  Dell Monitor 24inch  Electronics  12999.0            40.0
12       P013       Woodland Shoes      fashion   5499.0            55.0
13       P014            iPhone 13  Electronics  69999.0            80.0
14       P015   Organic Honey 500g    Groceries    450.0           200.0
15       P016    Samsung TV 43inch  ELECTRONICS  32999.0            35.0
16       P017            H&M Shirt      Fashion      NaN            90.0
17       P018       Masoor Dal 1kg    groceries    120.0           500.0
18       P019         Boat Earbuds  Electronics   1499.0           250.0
19       P020    Reebok Trackpants      FASHION   1899.0           110.0

In [105]:
df2=pd.read_csv('sales_raw.csv')

# Overview of columns and data types
df2.info()
df2.describe
df2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    41 non-null     object
 1   customer_id       38 non-null     object
 2   product_id        39 non-null     object
 3   quantity          41 non-null     int64
 4   unit_price        41 non-null     float64
 5   transaction_date  41 non-null     object
 6   status            41 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 2.4+ KB

,transaction_id,customer_id,product_id,quantity,unit_price,transaction_date,status
0,T001,C001,P001,1,45999.0,2024-01-15,Completed
1,T002,C002,P004,2,2999.0,2024-01-16,Completed
2,T003,C003,P007,1,52999.0,15/01/2024,Completed
3,T004,NaN,P002,1,3499.0,2024-01-18,Pending
4,T005,C005,P009,3,650.0,2024-01-20,Completed
5,T006,C006,P012,1,12999.0,01-22-2024,Completed
6,T007,C007,P005,2,1999.0,2024-01-23,Completed
7,T008,C008,NaN,1,1299.0,2024-01-25,Completed
8,T009,C009,P011,1,4599.0,2024-01-28,Cancelled
9,T010,C010,P006,5,899.0,2024-02-01,Completed
10,T001,C001,P001,1,45999.0,2024-01-15,Completed
11,T011,C011,P014,1,69999.0,02/02/2024,Completed
12,T012,C012,P003,1,52999.0,2024-02-05,Completed
13,T013,C013,P015,3,450.0,2024-02-08,Completed
14,T014,C014,P019,2,1499.0,02-10-2024,Completed
15,T015,C015,P008,3,1299.0,2024-02-12,Completed
16,T016,NaN,P013,1,5499.0,2024-02-15,Pending
17,T017,C017,P016,1,32999.0,2024-02-18,Completed
18,T018,C018,P020,2,1899.0,2024-02-20,Completed
19,T019,C019,P018,10,120.0,02/22/2024,Completed
20,T020,C020,P010,1,45999.0,2024-02-25,Completed
21,T021,C021,P017,2,2999.0,2024-02-28,Completed
22,T022,C002,P001,1,45999.0,2024-03-01,Completed
23,T023,C003,P019,3,1499.0,03-02-2024,Completed
24,T024,C004,P009,5,650.0,2024-03-05,Completed
25,T025,C005,NaN,1,1999.0,2024-03-08,Completed
26,T026,C006,P011,1,4599.0,2024-03-10,Completed
27,T027,C007,P002,2,3499.0,03/12/2024,Completed
28,T028,C008,P015,4,450.0,2024-03-15,Completed
29,T029,C009,P007,1,52999.0,2024-03-18,Completed
30,T030,NaN,P004,3,2999.0,2024-03-20,Pending
31,T031,C011,P012,1,12999.0,03-22-2024,Completed
32,T032,C012,P016,1,32999.0,2024-03-25,Completed
33,T033,C013,P005,2,1999.0,2024-03-28,Completed
34,T034,C014,P008,2,1299.0,2024-03-30,Completed
35,T035,C015,P018,8,120.0,04/01/2024,Completed
36,T036,C016,P014,1,69999.0,2024-04-03,Completed
37,T037,C017,P006,4,899.0,2024-04-05,Completed
38,T038,C018,P020,1,1899.0,04-08-2024,Completed
39,T039,C019,P019,2,1499.0,2024-04-10,Completed
40,T040,C020,P013,1,5499.0,2024-04-12,Completed

# Pre-Processing : customers_raw data

In [106]:
# Overview of columns and data types
df.info()
# NaN Check
df.isna().sum()
# Remove Duplicate entried if Any
df.drop_duplicates
# FIlling the email value 
df['email']=df['email'].fillna('Unknown')

#Standardizing the Phone numbers.

#Define the cleaning function
def format_india_phone(phone_str):
    if pd.isna(phone_str) or str(phone_str).strip() == "":
        return None
    
    try:
        # Convert to string and parse (Assuming 'IN' for India)
        parsed_number = ph.parse(str(phone_str), "IN")
        
        # Check if the number is actually valid according to Indian rules
        if ph.is_valid_number(parsed_number):
            # Format to E.164 (+91XXXXXXXXXX)
            return ph.format_number(
                parsed_number, 
                ph.PhoneNumberFormat.E164
            )
        else:
            return "Invalid" 
    except Exception:
        return "Error"


df['phone'] = df['phone'].apply(format_india_phone)

#Standardizing the date to YYYY-MM-DD format.

df['registration_date'] = pd.to_datetime(df['registration_date'], format='mixed', errors='coerce')
df['registration_date'] = df['registration_date'].dt.strftime('%Y-%m-%d')


#  Strip only the 'C' from the left side of the customer ID
df['customer_id'] = df['customer_id'].astype(str).str.lstrip('C')

# Making it an Integer
df['customer_id'] = pd.to_numeric(df['customer_id'], errors='coerce')

df['customer_id'] = df['customer_id'].astype(int)

unique_columns = ['first_name', 'last_name', 'customer_id']
df.drop_duplicates(subset=unique_columns, keep='first', inplace=True)

df_customers = df.copy()
df_customers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        26 non-null     object
 1   first_name         26 non-null     object
 2   last_name          26 non-null     object
 3   email              21 non-null     object
 4   phone              26 non-null     object
 5   city               26 non-null     object
 6   registration_date  26 non-null     object
dtypes: object(7)
memory usage: 1.6+ KB

,customer_id,first_name,last_name,email,phone,city,registration_date
0,1,Rahul,Sharma,rahul.sharma@gmail.com,+919876543210,Bangalore,2023-01-15
1,2,Priya,Patel,priya.patel@yahoo.com,+919988776655,Mumbai,2023-02-20
2,3,Amit,Kumar,Unknown,+919765432109,Delhi,2023-03-10
3,4,Sneha,Reddy,sneha.reddy@gmail.com,+919123456789,Hyderabad,2023-04-15
4,5,Vikram,Singh,vikram.singh@outlook.com,+919988112233,Chennai,2023-05-22
5,6,Anjali,Mehta,anjali.mehta@gmail.com,+919876543210,Bangalore,2023-06-18
6,7,Ravi,Verma,Unknown,+919876501234,Pune,2023-07-25
7,8,Pooja,Iyer,pooja.iyer@gmail.com,+919123456780,Bangalore,2023-08-15
8,9,Karthik,Nair,karthik.nair@yahoo.com,+919988776644,Kochi,2023-09-30
9,10,Deepa,Gupta,deepa.gupta@gmail.com,+919871234567,Delhi,2023-10-12
11,11,Arjun,Rao,arjun.rao@gmail.com,+919876509876,Hyderabad,2023-11-05
12,12,Lakshmi,Krishnan,Unknown,+919988001122,Chennai,2023-12-01
13,13,Suresh,Patel,suresh.patel@outlook.com,+919123409876,Mumbai,2024-01-08
14,14,Neha,Shah,neha.shah@gmail.com,+919876543221,Ahmedabad,2024-01-15
15,15,Manish,Joshi,manish.joshi@yahoo.com,+919988776611,Jaipur,2024-01-20
16,16,Divya,Menon,divya.menon@gmail.com,+919123456701,Bangalore,2024-02-05
17,17,Rajesh,Kumar,rajesh.kumar@gmail.com,+919876123450,Delhi,2024-02-12
18,18,Kavya,Reddy,Unknown,+919988112200,Hyderabad,2024-02-18
19,19,Arun,Pillai,arun.pillai@outlook.com,+919876543298,Kochi,2024-02-25
20,20,Swati,Desai,swati.desai@gmail.com,+919123456712,Pune,2024-03-01
21,21,Nikhil,Bose,nikhil.bose@gmail.com,+919988776600,Kolkata,2024-03-10
22,22,Priyanka,Jain,priyanka.jain@yahoo.com,+919876543287,Indore,2024-03-15
23,23,Rohit,Kapoor,Unknown,+919988112211,Chandigarh,2024-03-20
24,24,Meera,Nambiar,meera.nambiar@gmail.com,+919123456723,Trivandrum,2024-03-25
25,25,Sanjay,Agarwal,sanjay.agarwal@gmail.com,+919876543276,Lucknow,2024-03-28

# Pre-Processing : products_raw data.

In [107]:
#  Fill NaN with 0 for Stock Qty
df1['stock_quantity'] = df1['stock_quantity'].fillna(0)

# Convert to Title Case
df1['category'] = df1['category'].str.title()

# Filling the NaN in price using Average value grouping by Category.

df1['price'] = df1['price'].fillna(df1.groupby('category')['price'].transform('mean'))
df1['price'] = df1['price'].round(2)


# Synchronize the Orders table
df1['product_id'] = df1['product_id'].astype(str).str.lstrip('P')
df1['product_id'] = pd.to_numeric(df1['product_id'], errors='coerce')
df1['product_id'] = df1['product_id'].astype(int)

df_products = df1.copy()
df_products

    product_id         product_name     category     price  stock_quantity
0            1   Samsung Galaxy S21  Electronics  45999.00           150.0
1            2   Nike Running Shoes      Fashion   3499.00            80.0
2            3    Apple MacBook Pro  Electronics  31213.29            45.0
3            4         Levi's Jeans      Fashion   2999.00           120.0
4            5      Sony Headphones  Electronics   1999.00           200.0
5            6      Organic Almonds    Groceries    899.00             0.0
6            7            HP Laptop  Electronics  52999.00            60.0
7            8       Adidas T-Shirt      Fashion   1299.00           150.0
8            9     Basmati Rice 5kg    Groceries    650.00           300.0
9           10         OnePlus Nord  Electronics  31213.29            95.0
10          11        Puma Sneakers      Fashion   4599.00            70.0
11          12  Dell Monitor 24inch  Electronics  12999.00            40.0
12          13       Woodland Shoes      Fashion   5499.00            55.0
13          14            iPhone 13  Electronics  69999.00            80.0
14          15   Organic Honey 500g    Groceries    450.00           200.0
15          16    Samsung TV 43inch  Electronics  32999.00            35.0
16          17            H&M Shirt      Fashion   3299.00            90.0
17          18       Masoor Dal 1kg    Groceries    120.00           500.0
18          19         Boat Earbuds  Electronics   1499.00           250.0
19          20    Reebok Trackpants      Fashion   1899.00           110.0

# Pre-Processing : sales_raw data.

In [108]:
#Standardizing the date to YYYY-MM-DD format.

df2['transaction_date'] = pd.to_datetime(df2['transaction_date'], format='mixed', errors='coerce')
df2['transaction_date'] = df2['transaction_date'].dt.strftime('%Y-%m-%d')

# Dropped the records without a customer ID as I noted that the trasaction status was pending which can skew my further queries outcomes.
df2.dropna(subset=['customer_id'], inplace=True)

# Filling the missing Product ID's using their Price in Products data.
price_to_id_map = dict(zip(df1['price'], df1['product_id']))

df2['product_id'] = df2['product_id'].fillna(df2['unit_price'].map(price_to_id_map))

# Dropping duplicate transactions.
unique_columns = ['transaction_date', 'customer_id', 'product_id']
df2.drop_duplicates(subset=unique_columns, keep='first', inplace=True)

# Synchronize the Orders table
df2['product_id'] = df2['product_id'].astype(str).str.lstrip('P')
df2['product_id'] = pd.to_numeric(df2['product_id'], errors='coerce')
df2['product_id'] = df2['product_id'].astype(int)

# Synchronize the Orders table
df2['customer_id'] = df2['customer_id'].astype(str).str.lstrip('C')
df2['customer_id'] = pd.to_numeric(df2['customer_id'], errors='coerce')
df2['customer_id'] = df2['customer_id'].astype(int)

# Synchronize the Orders table
df2['transaction_id'] = df2['transaction_id'].astype(str).str.lstrip('T')
df2['transaction_id'] = pd.to_numeric(df2['transaction_id'], errors='coerce')
df2['transaction_id'] = df2['transaction_id'].astype(int)

df2['total_amount'] = df2['unit_price'] * df2['quantity']

# Rename everything to match the schema exactly
df2 = df2.rename(columns={
    'transaction_id': 'order_id',
    'transaction_date': 'order_date',
    'subtotal': 'total_amount'
})

# Keep only the columns that actually exist in the 'orders' table
Order_schema_columns = ['order_id', 'customer_id', 'order_date', 'total_amount', 'status']
df_orders = df2[Order_schema_columns]

df2 = df2.rename(columns={'total_amount' : 'subtotal'})

Orderitems_schema_columns = ['order_id', 'product_id', 'quantity', 'unit_price','subtotal']
df_ordersitems = df2[Orderitems_schema_columns]

df2

,order_id,customer_id,product_id,quantity,unit_price,order_date,status,subtotal
0,1,1,1,1,45999.0,2024-01-15,Completed,45999.0
1,2,2,4,2,2999.0,2024-01-16,Completed,5998.0
2,3,3,7,1,52999.0,2024-01-15,Completed,52999.0
4,5,5,9,3,650.0,2024-01-20,Completed,1950.0
5,6,6,12,1,12999.0,2024-01-22,Completed,12999.0
6,7,7,5,2,1999.0,2024-01-23,Completed,3998.0
7,8,8,8,1,1299.0,2024-01-25,Completed,1299.0
8,9,9,11,1,4599.0,2024-01-28,Cancelled,4599.0
9,10,10,6,5,899.0,2024-02-01,Completed,4495.0
11,11,11,14,1,69999.0,2024-02-02,Completed,69999.0
12,12,12,3,1,52999.0,2024-02-05,Completed,52999.0
13,13,13,15,3,450.0,2024-02-08,Completed,1350.0
14,14,14,19,2,1499.0,2024-02-10,Completed,2998.0
15,15,15,8,3,1299.0,2024-02-12,Completed,3897.0
17,17,17,16,1,32999.0,2024-02-18,Completed,32999.0
18,18,18,20,2,1899.0,2024-02-20,Completed,3798.0
19,19,19,18,10,120.0,2024-02-22,Completed,1200.0
20,20,20,10,1,45999.0,2024-02-25,Completed,45999.0
21,21,21,17,2,2999.0,2024-02-28,Completed,5998.0
22,22,2,1,1,45999.0,2024-03-01,Completed,45999.0
23,23,3,19,3,1499.0,2024-03-02,Completed,4497.0
24,24,4,9,5,650.0,2024-03-05,Completed,3250.0
25,25,5,5,1,1999.0,2024-03-08,Completed,1999.0
26,26,6,11,1,4599.0,2024-03-10,Completed,4599.0
27,27,7,2,2,3499.0,2024-03-12,Completed,6998.0
28,28,8,15,4,450.0,2024-03-15,Completed,1800.0
29,29,9,7,1,52999.0,2024-03-18,Completed,52999.0
31,31,11,12,1,12999.0,2024-03-22,Completed,12999.0
32,32,12,16,1,32999.0,2024-03-25,Completed,32999.0
33,33,13,5,2,1999.0,2024-03-28,Completed,3998.0
34,34,14,8,2,1299.0,2024-03-30,Completed,2598.0
35,35,15,18,8,120.0,2024-04-01,Completed,960.0
36,36,16,14,1,69999.0,2024-04-03,Completed,69999.0
37,37,17,6,4,899.0,2024-04-05,Completed,3596.0
38,38,18,20,1,1899.0,2024-04-08,Completed,1899.0
39,39,19,19,2,1499.0,2024-04-10,Completed,2998.0
40,40,20,13,1,5499.0,2024-04-12,Completed,5499.0

# Uploading the Cleaned data into the SQL DataBase.

In [109]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, DECIMAL, Date, ForeignKey

# Creates 'fleximartData.db'
engine = create_engine('sqlite:///fleximartData.db')
metadata = MetaData()

# Define Tables
customers = Table(
    'customers', metadata,
    Column('customer_id', Integer, primary_key=True, autoincrement=True),
    Column('first_name', String(50), nullable=False),
    Column('last_name', String(50), nullable=False),
    Column('email', String(100), unique=False, nullable=False),
    Column('phone', String(20)),
    Column('city', String(50)),
    Column('registration_date', Date)
)
products = Table(
    'products', metadata,
    Column('product_id', Integer, primary_key=True, autoincrement=True),
    Column('product_name', String(100), nullable=False),
    Column('category', String(50), nullable=False),
    Column('price', DECIMAL(10, 2), nullable=False),
    Column('stock_quantity', Integer, default=0)
)
orders = Table(
    'orders', metadata,
    Column('order_id', Integer, primary_key=True, autoincrement=True),
    Column('customer_id', Integer, ForeignKey('customers.customer_id'), nullable=False),
    Column('order_date', Date, nullable=False),
    Column('total_amount', DECIMAL(10, 2), nullable=False),
    Column('status', String(20), default='Pending')
)
order_items = Table(
    'order_items', metadata,
    Column('order_item_id', Integer, primary_key=True, autoincrement=True),
    Column('order_id', Integer, ForeignKey('orders.order_id'), nullable=False),
    Column('product_id', Integer, ForeignKey('products.product_id'), nullable=False),
    Column('quantity', Integer, nullable=False),
    Column('unit_price', DECIMAL(10, 2), nullable=False),
    Column('subtotal', DECIMAL(10, 2), nullable=False)
)

# Create all tables in the database
metadata.create_all(engine)

df_customers.to_sql('customers', engine, if_exists='append', index=False)
df_products.to_sql('products', engine, if_exists='append', index=False)
df_orders.to_sql('orders', engine, if_exists='append', index=False)
df_ordersitems.to_sql('order_items', engine, if_exists='append', index=False)

37